* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    ;

}

.loginpage,.signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(215, 215, 215);
    width: 370px;
    margin: 10px auto;
    border-radius: 1px;
}

.logo {
    width: 175px;
    height: 61px;
    margin-top: 20px;
    display: inline-block;
}

.user {
    height: 36px;
    border: 1px solid rgb(215, 215, 215);
    width: 245px;
    border-radius: 1px;
    margin-top: 30px;
}

::placeholder {
    padding: 5px;
}

.pwd {
    height: 36px;
    border: 1px solid rgb(215, 215, 215);
    width: 245px;
    border-radius: 1px;
    margin-top: 5px;
    /* position: relative; */
}
#sh{
    position: absolute;
    right: 42%;
    top: 29%;
}

.log {
    background-color: rgb(0, 149, 246);
    opacity: .7;
    border: none;
    width: 245px;
    border-radius: 8px;
    font-size: 14px;
    text-align: center;
    padding: 7px 16px;
    margin-top: 13px;
    color: white;
    font-weight: 500;
    position: relative;
}

.orc {
    color: rgb(196, 195, 195);
    margin-top: 15px;
}

.face {
    display: flex;
    margin-top: 30px;
}

.facebook {
    color: #385185;
    margin-left: 6px;
    font-weight: 600;
}

.forgot {
    margin-top: 20px;
    color: rgb(0, 55, 107);
    font-size: 12px;
    margin-bottom: 20px;
}
.acc{
    padding: 25px;
}
.get{
    text-align: center;
}
.plst{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.plst>img{
    height: 40px;
    padding-left: 4px;
}

#ph{
position: absolute;
top: 22%;
color: rgb(196, 195, 195);
font-size: 14px;
}
#ps{
    position: absolute;
    top: 29%;
    color: rgb(196, 195, 195);
    font-size: 14px;
     
}

